#banner {
    height: 80vh;
    background-color: red;
    background-image: url("../img/banner.png");
    background-size: cover;
    position: relative;
}

#banner_text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    top: 25%;
    left: 10%;
}

#banner_text h1 {
    color: white;
    font-size: 4rem;
    width: 56%;
}

#banner_text a {
    font-size: 2rem;
    font-weight: bold;
}

#top_rated {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#top_rated_title {
    text-align: center;
}

#top_rated_title h1 {
    font-size: 2.5rem;
}

#top_rated_title p {
    font-size: 1.5rem;
}

#top_rated_container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.top_rated_book {
    cursor: pointer;
    width: 180px;
    transition: .5s ease-in-out;
}

.top_rated_book:hover {
    transform: translateY(-20px);
}

.top_rated_book:hover > a > img {
    background-color: #A7A7A7;
}

.top_rated_book img {
    padding-block: 16px;
    padding-inline: 14px;
    background-color: #E7E7E7;
    border-radius: 14px;
    transition: .5s ease-in-out;
}

.top_rated_book_info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.top_rated_book_info p {
    font-weight: bold;
}

.top_rated_book_genre {
    font-size: 1.125rem;
}

.top_rated_book_title {
    font-size: 1.5rem;
}

.top_rated_book_author, .top_rated_book_price {
    font-size: 1rem;
}