body {
    position: relative;
    overflow-x: hidden;
}

.main_container {
    display: flex;
}

.sidebar {
    width: 700px;
    padding-left: 15px;
    border-right: 1px solid var(--input_border);
    padding-top: 150px;
    color: var(--text);
}

main {
    min-height: 100vh;
    padding-bottom: 100px;
}

.shelf_navbar {
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-inline: 50px;
    padding-block: 30px;
}

.shelf_navbar_title h1 {
    font-size: 3rem;
}

.shelf_navbar_title p {
    font-size: 1.5rem;
}

.shelf_navbar_container {
    display: flex;
    gap: 20px;
}

.shelf_navbar_container .input_group {
    width: 30%;
}

.shelf {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 auto;
    max-width: 95%;
}

.filter_buttons {
    border: 3px solid var(--input_border);
    border-radius: 240px;
    padding-inline: 20px;
    padding-block: 10px;
    cursor: pointer;
    background-color: var(--background);
    color: var(--text);
    font-weight: bold;
}

.filter_buttons.focus {
    background-color: var(--focus);
    color: var(--background);
}

.shelf_navbar_container a {
    background-color: var(--focus);
    color: var(--background);
    font-weight: bold;
    transition: .5s ease-in-out;
}

.shelf_navbar_container a:hover {
    background-color: var(--text);
}

.notification {
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: var(--focus);
    transform: translateX(500%);
    top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--background);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    animation: notification_push .5s;
}

.notification i {
    color: var(--background);
    font-size: 2rem;
}

.notification p {
    color: var(--background);
}

#remove_notification {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    cursor: pointer;
}

@keyframes notification_push {
    from {
        transform: translateX(800%);
    }

    to {
        transform: translateX(500%);
    }
}

.notification.closing {
    transform: translateX(800%);
    transition: transform 0.3s;
}